@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  background-color: #EDEEF0;
  /* font-family: 'Times New Roman', serif; */
  /* font-family: "Alegreya", serif; */
  /* font-family: "IBM Plex Serif", serif; */
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

